* {
    padding: 0;
    margin: 0;
}

/* .no-scroll {
    overflow: hidden;
} */

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

nav {
    width: 100%;
    height: 100%;
    border-right: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr 4fr 2fr;
}

#navUl {
    list-style-type: none;
}

#logo {
    grid-column: 1;
    grid-row: 0 / 1;
}

#workspace {
    grid-column: 1;
    grid-row: 5 / 6;
}

#navSide {
    grid-column: 1;
    grid-row: 3 / 4;
}

#tasksContainer {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 12fr;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#tasksInner {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3 / -1;
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr 10fr 1fr

}

.tasksInProgressWrapper {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


.tasksInReviewWrapper {
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.tasksCompletedWrapper {
    width: 100%;
    height: 100%;
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.tasksInprogress {
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr;
}

.taskContain {
    width: 100%;
    height: 100%;
    background-color: rgb(239, 239, 239);
    border-radius: 16px;
}
