* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

html {
    overflow-x: hidden;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
}

.hidden1{
    display: none;
}

#navBar {
    position: relative
}

#navSide {
    width: 100%;
}

#navUl {
    list-style-type: none;
}

#main {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

#navSide {
    grid-column: 1;
    grid-row: 3 / 4;
}

#tasksContainer {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 1fr 12fr;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#tasksInner {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3 / -1;
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr 10fr 1fr

}

.tasksInProgressWrapper {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 ;
}


.tasksInReviewWrapper {
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.tasksCompletedWrapper {
    width: 100%;
    height: 100%;
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}


.tasksinprogressH1, .tasksinreviewH1, .taskscompletedH1 {
    text-align: center;
    padding: 16px;
}

.taskContain {
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 16px;
}

.card {
    background-color: white;
    border: 8px solid rgb(245, 245, 245);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    position: relative
}

.icon {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.card > * {
    padding: 16px;
}

.card h1 {
    grid-row: 2;
}

.card p {
    grid-row: 3;
}


.title {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    grid-row: 1 / 3;
}

.addDiv {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}


.addBtn {
    width: 100px;
    height: 50px;
    background-color: white;
    border: none;
    background: #05691b;
    background: linear-gradient(0deg, rgba(5, 105, 27, 1) 0%, rgba(21, 176, 55, 1) 100%);
    color: white;
    cursor: pointer;
}

.navBar {
    width: 100%;
}

#logo {
    padding: 32px;
}

#navSide h1 {
    padding: 16px 16px 0 16px;
    font-size: 16px;
}

#navUl {
    padding: 16px;
}

#navUl li {
    padding: 8px 0;
}

#form {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background-color: rgb(219, 219, 219);
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;

}

form {
    display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr 1fr 1fr;
}

input[type='submit'] {
    height: 48px;
}

form label {
    padding-top: 16px;
}

input[name='choice'] {
    margin-left: 8px;
}

/* Base */
body {
  margin: 0;
  font-family: sans-serif;

}

/* Blur effect */
.blur {
  filter: blur(6px);
  pointer-events: none; /* disable clicks behind modal */
}

/* Modal overlay */
.hidden {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.hiddenitem {
    display: none;
}

.icon {
    width: 24px;
    height: 24px;
    float: right;
}

#form2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background-color: rgb(219, 219, 219);
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;

}

.form2 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.hiddenitem2 {
    display: none;
}

.cardButton {
    grid-row: 4;
    border: none;
}

.tasksInprogressBTN {
    background-color: red;
}

.tasksInreviewBTN {
    background-color: orange;
}

.tasksCompletedBTN {
    background-color: green;
}

.hiddenitem2 { display: none; }

#form2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  background-color: rgb(219, 219, 219);
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;

}

.form2 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#mobileNavContainer{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}


@media (max-width: 1000px) {

  #tasksContainer {
    grid-template-columns: 1fr 1fr;
  }

  #tasksInner {
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  }

  .tasksInProgressWrapper {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .tasksInReviewWrapper {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .tasksCompletedWrapper {
    grid-column: 2 / 5;
    grid-row: 2;
  }
}

@media (max-width: 768px) {
    .tasksInProgressWrapper {
    grid-column: 2 / 5;
    grid-row: 1;
  }

  .tasksInReviewWrapper {
    grid-column: 2 / 5;
    grid-row: 2;
  }

  .tasksCompletedWrapper {
    grid-column: 2 / 5;
    grid-row: 3;
  }

  #main {
    grid-template-columns: repeat(1, 1fr);
  }

  .navBar {
    display: none;
  }

    #mobileNavContainer{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
    }

  #tasksContainer {
    grid-column: 1 / 2;
  }

  #mobileNav {
    background-color: black;
    color: white;
    padding: 16px;
  }

  #mobileNav li {
    list-style-type: none;
    padding: 8px;
  }

  #svgBurger {
    width: 40px;
    height: auto;
  }
  
}
