* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

/* .no-scroll {
    overflow: hidden;
} */

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
}


#navBar {
    position: relative
}

#navSide {
    width: 100%;
}

#navUl {
    list-style-type: none;
}

#main {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

#logo {

}


#navSide {
    grid-column: 1;
    grid-row: 3 / 4;
}

#tasksContainer {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 1fr 12fr;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#tasksInner {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3 / -1;
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr 10fr 1fr

}

.tasksInProgressWrapper {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 ;
}


.tasksInReviewWrapper {
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.tasksCompletedWrapper {
    width: 100%;
    height: 100%;
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}


.tasksinprogressH1, .tasksinreviewH1, .taskscompletedH1 {
    text-align: center;
    padding: 16px;
}

.taskContain {
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 16px;
}

.card {
    background-color: white;
    border: 8px solid rgb(245, 245, 245);
    border-radius: 16px;
}

.card > * {
    padding: 16px;
}

.title {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    grid-row: 1 / 3;
}

.addDiv {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}


.addBtn {
    width: 100px;
    height: 50px;
    background-color: white;
    border: none;
    background: #05691b;
    background: linear-gradient(0deg, rgba(5, 105, 27, 1) 0%, rgba(21, 176, 55, 1) 100%);
    color: white;
    cursor: pointer;
}

.navBar {
    width: 100%;
}

#logo {
    padding: 32px;
}

#navSide h1 {
    padding: 16px 16px 0 16px;
    font-size: 16px;
}

#navUl {
    padding: 16px;
}

#navUl li {
    padding: 8px 0;
}


@media (max-width: 1000px) {

  #tasksContainer {
    grid-template-columns: 1fr 1fr;
  }

  #tasksInner {
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  }

  .tasksInProgressWrapper {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .tasksInReviewWrapper {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .tasksCompletedWrapper {
    grid-column: 2 / 5;
    grid-row: 2;
  }
}

@media (max-width: 700px) {
    .tasksInProgressWrapper {
    grid-column: 2 / 5;
    grid-row: 1;
  }

  .tasksInReviewWrapper {
    grid-column: 2 / 5;
    grid-row: 2;
  }

  .tasksCompletedWrapper {
    grid-column: 2 / 5;
    grid-row: 3;
  }
}
